extends layout
block content
    .container(style="margin-top: 70px; width: 700px;")
        .w3-card-4-9.deptForm(id="deptForm" style="margin: 0px auto;")
            h6 #{title}
            form.jumbotron#myForm(action="/admin/advert", method="POST")
                .closeForm
                    span.badge.badge-default.badge-pill
                        i.fa.fa-times(aria-hidden='true' onclick="closeForm()" id="true")

                .form-input.form-group#form-group
                    input.form-control(name='title', required='', type='text', placeholder='Title')
                    input#photoId(type="file" name="photourl")
                    input.form-control(name='department_id', hidden="" value=d_id type='text', placeholder='department id')
                .save-btn
                    button.btn.btn-primary(type='submit') Save

        .list-group
            button.btn.btn-default(onclick="openForm()")
                i.fa.fa-plus(aria-hidden='true', id="true")
            - if(advert.length < 1)
                p There is no content to display.. Add Advert by clicking on the plus above!
            - if(advert.length > 0)
                .jumbotron
                    each ad in advert
                        .row(style=" border-bottom: 1px solid #fff; margin-bottom:5px;")
                            .col.col-lg-2
                            
                                img(src=ad.photo_url, style="width:100px;" alt="Ad Photo")

                            .col.col-lg-10.list-group-item.list-group-item-action.flex-column.align-items-start(style="background:transparent; border:none; ")
                                .d-flex.w-100.justify-content-between
                                    h5.mb-1
                                        = ad.title
                                        small
                                            //- = ad.photo_id
                                    
                                    small
                                        button.btn.btn-primary(onclick="deleteAdvert(id)" id=ad.id)
                                            i.fa.fa-times(aria-hidden='true', id="true")

                                p.mb-1
                                    = ad.snipet
            a.btn.btn-primary(href="/admin/store", role="button") Go Back