extends layout
block content
	.w3-container.product-list
		.w3-card-4-7
			table.table
				thead.thead-default
					tr
						th Publish
						th code
						th Image
						th Product Name
						th Stock
						th Category
						th Price
						th Origin
						th(colspan='3')
				tbody
					each product in products
						tr
							th 
								= product.publish
							th 
								= product.code
							th 
								imageUp-wrapper.form-group(onclick="getId(this.id)" id=product.id)
									img(src=product.imageUrl width="50")
									input.form-control-file#loadimage(type="file", accept="image/*", onclick="uploadImage()")
							td
								= product.name
							td
								= product.stock
							th
								= product.category
							td
								span £ 
								= product.price
								
							td
								= product.description.origin
							td
								a.editproduct(href="/admin/product/edit/"+product.id) Edit
							td
								a(href="" onclick="deleteProduct(this)" data-id=product.id)
									i.fa.fa-times(aria-hidden='true')
	