
<!--<div class="md-container">
    <h1>{{title}}</h1>
    <button md-raised-button (click)="login()"> Google Login</button>
    <button md-raised-button (click)="logout()"> Google Logout</button>
    <a md-mini-fab ><md-icon>clear</md-icon></a>
    <p>How it works Progress components are built with two HTML elements, some CSS to set the width, and a few attributes.
    We use the .progress as a wrapper to indicate the max value of the progress bar.
    We use the inner .progress-bar to indicate the progress so far.
    The .progress-bar requires an inline style, utility class, or custom CSS to set their width.
    The .progress-bar also requires some role and aria attributes to make it accessible.Put that all together, and you have the following examples.
    </p>
</div>-->
<div class="container">
    <div class="row">
        <div class="col col-2" *ngFor="let product of products">
            <img [src]=product.imageUrl style="width: 100px;">
            <p>{{product.name}}</p>
            <p>{{product.price}}</p>
            
        </div>
    </div>
</div>