extends layout
block content
    .container
        .jumbotron#page404
            h1 404
            h1= title
            .button
                a(href="/admin/store" role="button" class="btn btn-primary") Continue