nav.navbar.fixed-bottom.navbar-toggleable-md.navbar-light.bg-faded
	button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	a.navbar-brand(href='#') Footer
	#navbarSupportedContent.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item.active
				a.nav-link(href='#')
					|  
					span.sr-only (current)
	