extends layout
block content
    .container(style="margin-top: 70px; width: 700px;")
        .w3-card-4-9(id="deptForm" style="margin: 0px auto;")
            h6 #{title}
            form.jumbotron#myForm.deptForm(method="POST")
                .closeForm
                    span.badge.badge-default.badge-pill
                        i.fa.fa-times(aria-hidden='true' onclick="closeForm()" id="true")
                h4 Add Youtube Video
                .form-input.form-group
                    input.form-control(name='name', required='', type='text', placeholder='video name')
                    input.form-control(name='youtube_link', required='', type='text', placeholder='Paste Youtube Link here')
                    select.custom-select(name='tag', type='text', placeholder='tag')
                        option(selected='') Select Tag
                        option(value='alpha') Alpha
                        option(value='blondy') Blondy
                        option(value='chico') Chico

                .save-btn
                    button.btn.btn-primary(type='submit') Save
            .list-group
                button.btn.btn-default(onclick="openForm()")
                    i.fa.fa-plus(aria-hidden='true', id="true")
                - if(video.length < 1)
                    p There is no content to display.. Add Advert by clicking on the plus above!
                - if(video.length > 0)
                    .jumbotron
                        each vid in video
                            .row(style=" border-bottom: 1px solid #fff; margin-bottom:5px;")
                                .col.col-lg-6
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(src=vid.youtube_link, frameborder="0", allowfullscreen='')

                                    //- img(src=ad.photo_url, style="width:100px;" alt="Ad Photo")

                                .col.col-lg-6.list-group-item.list-group-item-action.flex-column.align-items-start(style="background:transparent; border:none; ")
                                    .d-flex.w-100.justify-content-between
                                        h5.mb-1
                                            = vid.name
                                            small
                                                span(style="margin-left: 20px; color: blue;")
                                                    = vid.tag
                                                    //- = vid.id
                                        
                                        small
                                            a.btn.btn-primary(onclick="deleteYoutube(this)" data-id=vid.id)
                                                i.fa.fa-times(aria-hidden='true', id="true")

                                    p.mb-1
                                        //- = ad.snipet
            a.btn.btn-primary(href="/admin/store", role="button") Go Back