
  <md-toolbar class="" color="primary">
    
    <div class="container top-menu">
      <span routerLink="/home"><h1>Shop</h1></span>
      <span class="spacer"></span>
      
    <!--<div class="tool-bar-top">
      <div class="row tool-bar-wrapper">
        <div class="sign-in col col-lg-4">Login</div>
        <div class="basket col col-lg-4">
          <md-icon>local_grocery_store</md-icon>
        </div>
        <div class="get-help col col-lg-4">Help</div>
      </div>
    </div>-->

  <div class="search-form">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  
  </div>

  </div>
    
</md-toolbar>


