.active{
    a{
        color: #fff !important;
    }     
}
.content-wrapper{
    padding-top: 50px;
    background-color:#092d3d;
    height: 100vh;

    .jumbotron{
        background: transparent;
        border: 1px solid #ffc900;
        color: #59859b;
    }
    p.lead{
        margin: 0 auto;
        a.btn.btn-primary.btn-lg{
            background: transparent;
            border-color: #ffc900;
            color: #ffc900;
        }
    }
    
}

.admin-nav{
    background-color: #092d3d;
    color: #fff;
    border-bottom: 1px solid #59859b;

    a i.fa.fa-home{
       color: #ffc900;
       font-size: 35px;
    }
}
li.nav-item{
    i.fa.fa-user{
        color: #59859b;
        span{
            font-family: Roboto, sans-serif;
            font-weight: 800;
        }
    }
}
li.nav-item{
    a.nav-link{
        color: #ffc900;
    }
}
.flash-msg{
    color: #59859b;
    padding: 30px 0px;
}
.main-nav{
    background-color:#092d3d;
    a.navbar-brand{
        i.fa.fa-home{
            color: #59859b;
            font-size: 30px;
            span{
                font-family: Roboto, sans-serif;
                font-weight: 800;
            }
        }
        
    }
}
li.nav-item{
    a.nav-link{
        color: #59859b !important;
    }
}