.body-image {
  color: red; }

body {
  /*background-color: red;*/ }

/* -- Product Page Styling --*/
.product-list {
  font-size: 12px; }

imageUp-wrapper {
  position: relative;
  width: 50px;
  overflow: hidden; }

#loadimage {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 100; }

/*-- Department styles --*/
.form-input input {
  margin: 5px 0px; }

/*--View Product --*/
#loadimage {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 200px;
  height: 200px;
  opacity: 0;
  z-index: 100; }

.upload-image-text {
  position: absolute;
  top: 0px;
  left: 40px;
  margin: 0 auto;
  z-index: 100; }

.deptForm {
  display: none; }

.add-product-btn {
  font-size: 14px; }
