.active a {
  color: #fff !important; }

.content-wrapper {
  padding-top: 50px;
  background-color: #092d3d;
  height: 100vh; }
  .content-wrapper .jumbotron {
    background: transparent;
    border: 1px solid #ffc900;
    color: #59859b; }
  .content-wrapper p.lead {
    margin: 0 auto; }
    .content-wrapper p.lead a.btn.btn-primary.btn-lg {
      background: transparent;
      border-color: #ffc900;
      color: #ffc900; }

.admin-nav {
  background-color: #092d3d;
  color: #fff;
  border-bottom: 1px solid #59859b; }
  .admin-nav a i.fa.fa-home {
    color: #ffc900;
    font-size: 35px; }

li.nav-item i.fa.fa-user {
  color: #59859b; }
  li.nav-item i.fa.fa-user span {
    font-family: Roboto, sans-serif;
    font-weight: 800; }

li.nav-item a.nav-link {
  color: #ffc900; }

.flash-msg {
  color: #59859b;
  padding: 30px 0px; }

.main-nav {
  background-color: #092d3d; }
  .main-nav a.navbar-brand i.fa.fa-home {
    color: #59859b;
    font-size: 30px; }
    .main-nav a.navbar-brand i.fa.fa-home span {
      font-family: Roboto, sans-serif;
      font-weight: 800; }

li.nav-item a.nav-link {
  color: #59859b !important; }

.body-image {
  color: red; }

body {
  /*background-color: red;*/ }

/* -- Product Page Styling --*/
.product-list {
  font-size: 12px; }

imageUp-wrapper {
  position: relative;
  width: 50px;
  overflow: hidden; }

#loadimage {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 100; }

/*-- Department styles --*/
.form-input input {
  margin: 5px 0px; }

/*--View Product --*/
#loadimage {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 200px;
  height: 200px;
  opacity: 0;
  z-index: 100; }

.upload-image-text {
  position: absolute;
  top: 0px;
  left: 40px;
  margin: 0 auto;
  z-index: 100; }

.deptForm {
  display: none; }

.add-product-btn {
  font-size: 14px; }
